{% extends "auctions/layout.html" %}

{% block body %}

{% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %} {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-danger {% else %} alert-warning {% endif %} {% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <h2>Active Listings</h2>
    <div class="d-flex flex-column gap-2">
        {% for item in listings %}
        {% if item.status %}
            <div class="container-fluid">
                <div class="row border border-secondary py-3 px-0 d-flex flex-row">
                    <div class="col-3 d-flex justify-content-center align-items-center">
                        <div>{% if item.imagelink %}<img class="list-img" src="{{ item.imagelink }}" alt="{{ item.name }}-image">{% else %}No Image Available{% endif %}</div>
                    </div>
                    <div class="col-9 d-flex flex-column gap-2">
                        <h5>{{ item.name }}</h5>
                        <h6>Price: ${{ item.current|floatformat:2 }}</h6>
                        <span>{{ item.description }}</span>
                        <span style="font-size: 12px;" class="text-secondary">Created on: {{ item.created_on }}</span>
                        <div><a href="{% url 'listing' item.id %}"><button class="btn btn-primary">Go to Listing</button></a></div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}